<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Quiz Timer</h1>
        <div id="timer">Time Left: 10:00</div>

        <div id="lock-screen" style="display: none;">
            <h2>You switched tab. Please enter passkey to continue.</h2>
            <input type="password" id="passkey-input" placeholder="Enter passkey" />
            <button onclick="checkPasskey()">Unlock Quiz</button>
            <p id="error-msg" style="color:red;"></p>
        </div>

        <div id="quiz-frame">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfU2twoIJbw8hTh1XD19iSChwWZOE8IWqDZ4FDm9A9sAy8-Lg/viewform?usp=header"
                    width="100%" height="100%" frameborder="50000" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
</body>
</html>




